*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    /* height:100vh;    */
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left, #f8f8f8, #dcdcdc);
}
.wrapper{
    width: 99%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
} 
.row1{
    margin-top: 30px;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;

}
.logo{
    margin-left: 60px;
    width: 40%;
    height: 100%;
}
.contact, .chat, .findDoc, .patientPortal, .doctorPortal{
    width: 12%;
    height: 100%;
    text-align: center;
}
h3{
    margin-top: 35px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight:bold;
}
.row2{
    background-image: url('/images/doctorsignup-img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 1200px;
    width: 85%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form{
    width:600px;
    /* height: 100%; */
    position: relative;
    margin-inline: 24x;
    background: linear-gradient(to right, rgba(248, 248, 248, 0.7), rgba(220, 220, 220, 0.7));
    border: 2px solid hsla(0, 0%, 100%, .7);
    padding:40px 16px;
    color: var(--white-color);
    border-radius: 15px;
}
.title{
    text-align: center;
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight:bolder;
    margin-bottom: 25px;
}
.login-fields,.login-box{
    display: grid;
}
.login-fields{
    row-gap: 10px;
    margin-bottom: 16px;
}
.login-box{
    grid-template-columns: 1fr max-content;
    /* column-gap: 12px; */
    align-items: center;
    padding-inline: 20px;
    border-radius: 10px;
    border: 2px solid hsla(0, 0%, 100%, .7);
}
.login-input,.login-button{
    border: none;
    outline: none;
}
.login-input{
    width:100%;
    height:60px;
    background:none;
    color:var(--white-color);
    padding-block: 20px;
    font-size: 20px;
}
.login-box:hover{
    background: linear-gradient(to left, #f8f8f8, #dcdcdc);
}
.login-input::placeholder{
    color:var(--white-color);
}
.login-box i{
    font-size: 30px;
}
.check,.check-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .check{
    margin-bottom: 6px;
    font-size:23px;
}
.check-box{
    column-gap:8px;
}
.check-input{
    width:16px;
    height:16px;
    accent-color: var(--white-color);
} */
.login-button{
    width:100%;
    padding:6px;
    margin-bottom: 16px;
    border-radius: 10px;
    color:black;
    font-weight:500;
    cursor: pointer;
    border:2px solid hsla(0, 0%, 100%, .7);
    /* font-size: 35px; */
}
.login-button:hover {
    background: linear-gradient(to left, #f8f8f8, #dcdcdc);
    color: black;
    font-style: italic;
}
.register{
    font-size: 23px;
    text-align: center;
    margin-top:10px;
}
.register a{
    color:var(--white-color);
    font-weight: 600;
}
.register a:hover{
    text-decoration: underline;
}
.loginsubmit{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight:500;
}
input:hover::placeholder {
    font-style: italic;
}
a{
    color: black;
}
.signup-with-google{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.google-logo{
    height: 40px;
}
.google-button{
    margin-top: 20px;
    width: 20%;
    /* border-radius: 20px; */
    border: 0;
    background: linear-gradient(to right, rgba(248, 248, 248, 0), rgba(220, 220, 220, 0));
}