*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    /* height:100vh;    */
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left, #f8f8f8, #dcdcdc);
}
.wrapper{
    width: 99%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
} 
.row1{
    margin-top: 30px;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;

}
.logo{
    margin-left: 60px;
    width: 40%;
    height: 100%;
}
.contact{
    width: 12%;
    height: 100%;
    text-align: center;
}
.chat-nav{
    width: 12%;
    height: 100%;
    text-align: center;
}
.findDoc{
    width: 12%;
    height: 100%;
    text-align: center;
}
.patientPortal{
    width: 12%;
    height: 100%;
    text-align: center;
}
.doctorPortal{
    width: 12%;
    height: 100%;
    text-align: center;
}
h3{
    margin-top: 35px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight:bold;
}
.homebg{
    width: 1500px;
    height: 80%;
}
.row2{
    background-image: url('/images/homeimg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 800px;
    width: 100%;
    border-radius: 30px;
}
.tagline1{
    font-size: 5rem;
    margin-top: 110px;
    margin-left: 140px;
    font-family: "Montserrat", sans-serif;
    font-weight:400;
}
.tagline2{
    font-size: 5rem;
    margin-left: 200px;
    font-family: "Montserrat", sans-serif;
    font-weight:400;
}
.row3{
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
    background: linear-gradient(to left, #f8f8f8, #dcdcdc);
}
.search{
    width: 40%;
    height: 50%;
    background: linear-gradient(to right, #f8f8f8, #dcdcdc);
    border-radius: 50px;
}
.searchline{
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}
.articles {
    width: 40%;
    height: 80%;
    background: linear-gradient(to right, #f8f8f8, #dcdcdc);
    border-radius: 50px;
    overflow-y: auto; /* Enable vertical scrollbar if content exceeds height */
    position: relative; /* Needed for fixed background */
}

.articles::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f8f8f8, #dcdcdc); /* Same as .articles background */
    border-radius: inherit;
    z-index: -1; /* Ensure it's behind the content */
}

/* Adjust other styles as needed */
 p{
    margin-left:10%;
    margin-right:10%;
 }
 h4{
    margin-left:20%;
 }
.articlesline{
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
}
a{
    color: black;
}